<component name="libraryTable">
  <library name="spring-context-support-4.0.1.RELEASE">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/app/src/libs/org/springframework/spring-context-support/4.0.1.RELEASE/spring-context-support-4.0.1.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>